@use '@shared/styles/mixins' as *;
@use '@shared/styles/colors' as *;
@use '@shared/styles/typography' as *;

.mainLayout {
  @include flex(column, center, center);
  padding: 20px;
  background-color: var(--color-light-100);
  color: var(--color-dark-500);
}
