@use '@shared/styles/mixins' as *;
@use '@shared/styles/colors' as *;
@use '@shared/styles/typography' as *;

.container {
  @include flex(column, center, center, 20px);
  text-align: center;
}

.postTitle {
  @include text(var(--font-size-xxxl), var(--font-weight-bold), var(--color-dark-500));
  margin-bottom: 20px;
}

.randomPostPageButton {
  @include button-style(var(--color-accent-500), var(--color-light-100));
  font-size: var(--font-size-m);
  padding: 10px 20px;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    background-color: var(--color-dark-300);
    cursor: not-allowed;
  }
}

.error {
  @include text(var(--font-size-m), var(--font-weight-medium), var(--color-danger-500));
  margin-top: 10px;
}

.title {
  @include text(var(--font-size-l), var(--font-weight-bold), var(--color-dark-300));
  margin-top: 15px;
}

@include mobile {
  .container {
    padding: 10px;
  }

  .postTitle {
    font-size: var(--font-size-xl);
  }

  .title {
    font-size: var(--font-size-m);
  }
}