@use '@shared/styles/mixins' as *;
@use '@shared/styles/colors' as *;
@use '@shared/styles/typography' as *;

.header {
  padding: 6px 12px;
  background-color: var(--color-light-300);
  margin-bottom: 16px;
  box-shadow: 0 2px 4px var(--color-dark-100);
}

.headerContainer {
  @include flex(row, space-between, center, 12px);
  height: 100%;
  max-width: 100%;
  padding: 0 40px;
}

.navLink {
  color: var(--color-dark-500);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
  padding: 6px 8px;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--color-accent-500);
  }
}

@include mobile {
  .headerContainer {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
  }

  .navLink {
    font-size: var(--font-size-xs);
    padding: 4px 6px;
  }
}