@use '@shared/styles/mixins' as *;
@use '@shared/styles/colors' as *;
@use '@shared/styles/typography' as *;

.interactiveSection {
  @include flex(column, center, center);
  padding: 20px 20px;
  width: 100%;
  text-align: center;

  .interactiveSectionTitle {
    @include text(var(--font-size-xl), var(--font-weight-bold), var(--color-dark-500));
    margin-bottom: 16px;
  }

  .interactiveSectionForm {
    @include flex(column, center, center);
    width: 100%;
  }

  .interactiveSectionInput {
    max-width: 300px;
    margin-bottom: 30px;
  }
}

@include mobile {
  .interactiveSection {
    padding: 15px 15px;
  }

  .interactiveSectionForm {
    width: 100%;
  }
}